@import "variables";


footer{
    background-color: @dark_black;
    height:600px;
    color: @white;
    display:flex;
    justify-content: space-evenly;
    padding-top:100px;
    @media (max-width:800px) {
        justify-content: flex-start;
        flex-direction: column;
        text-align: center;
        height: auto;
        

    }

    img{
        width:101px;
        height: 40px;
        @media (max-width:800px) {
            margin-left: auto;
            margin-right: auto;
            margin-bottom:50px;
        }
    }

    a{
        color: @white;
    }

    .web_map {
        @media (max-width:800px) {
            margin-bottom:20px;

        }
        
        .item_title {
            margin-bottom:50px;
            @media (max-width:800px) {
                margin-bottom:25px;

            }

            a{
                color:@white;

            }
            
        }
        li  {
            margin-bottom: 20px;
            @media (max-width:800px) {
                margin-bottom: 10px;

            }
            

            a{
                color: grey;
            }
           
        }
    }
}
