@import "variables";
@import "mixins";

#outro {
    display:flex;
    margin-top:250px;
    @media (max-width:800px) {
        flex-direction: column;
    }
   .image_container, .description {
       width:50%;
       @media (max-width:800px) {
           width: 100%;
       }
   }
   .image_container{
    @media (max-width:800px) {
        text-align: center;
    }
       img{
           float:left;
           max-width:100%;
           position:relative;
           height:auto;
           margin-left:-20%;
           @media (max-width:800px) {
               float: none;
               margin: 0;
           }


       }
   
    
   }

   .description {
       .area {
            .text_area();
       }
       p{
           .text();
           margin-top:25px;
        
          
           
       }
   }

}
