//Fonts
@default:'Roboto', sans-serif;


//Colors

@pinkrange: #ff856e;
@dark_purple: #3a3b59;
@light_grey:  #fafafa;
@dark_black: #24242c;
@white: #fff;
@mobile_grey: #efeff1;
@mobile_ul: #253e54;
@mobile_li: #4c637a;


//links list items
a, li {
    text-decoration: none;
}

ul {
    list-style: none;
}