a,
li {
  text-decoration: none;
}
ul {
  list-style: none;
}
footer {
  background-color: #24242c;
  height: 600px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}
footer img {
  width: 101px;
  height: 40px;
}
footer a {
  color: #fff;
}
footer .web_map .item_title {
  margin-bottom: 50px;
}
footer .web_map .item_title a {
  color: #fff;
}
footer .web_map li {
  margin-bottom: 20px;
}
footer .web_map li a {
  color: grey;
}
