a,
li {
  text-decoration: none;
}
ul {
  list-style: none;
}
.text {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 14px;
}
.text_area {
  width: 500px;
  margin-bottom: 75px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
#mid_banner {
  display: flex;
  background-color: #3a3b59;
  height: 350px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  margin-top: 100px;
}
#mid_banner .image_container {
  background-image: url('../images/bg-pattern-circles.svg');
  background-position: bottom;
  width: 50%;
}
#mid_banner .image_container img {
  margin-top: -80px;
  margin-left: 25px;
}
#mid_banner .area {
  width: 500px;
  margin-bottom: 75px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 50%;
}
#mid_banner p {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 14px;
  margin-top: 25px;
  width: 500px;
}
