h1 {
  font-size: 45px;
}
body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}
#main {
  background-color: #ff856e;
  width: 100%;
  height: 500px;
  color: #fff;
  background-image: url('../images/bg-pattern-intro.svg');
  background-position: center;
  border-bottom-left-radius: 90px;
}
#main nav {
  display: flex;
  width: 100%;
  padding-top: 45px;
  align-items: center;
  justify-content: space-around;
}
#main .divider1 {
  display: flex;
  align-items: center;
}
#main .divider1 .logo {
  margin-right: 50px;
}
#main .divider2 #authentication {
  display: flex;
  align-items: center;
}
#main .divider2 #authentication .logo {
  margin-right: 50px;
}
.hover_state {
  background-color: #fff;
  border: none;
  color: #ff856e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.button:hover {
  background-color: #fff;
  border: none;
  color: #ff856e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.button {
  background-color: #ff856e;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.auth_button {
  background-color: #ff856e;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  background-color: inherit;
}
.auth_button:hover {
  background-color: #fff;
  border: none;
  color: #ff856e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#log_in {
  margin-right: 25px;
}
#mid_banner {
  background-color: #3a3b59;
}
footer {
  background-color: #24242c;
}
#description {
  text-align: center;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}
