a,
li {
  text-decoration: none;
}
ul {
  list-style: none;
}
.hover_state {
  background-color: #fff;
  border: none;
  color: #ff856e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.button:hover {
  background-color: #fff;
  border: none;
  color: #ff856e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
.button {
  background-color: #ff856e;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
button:focus {
  outline: 0;
}
.auth_button {
  background-color: #ff856e;
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
  border: none;
  background-color: inherit;
}
.auth_button:hover {
  background-color: #fff;
  border: none;
  color: #ff856e;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 16px;
}
#log_in {
  margin-right: 25px;
}
h1 {
  font-size: 45px;
}
@media (max-width: 800px) {
  h1 {
    font-size: 1.8em;
  }
}
h2 {
  font-size: 38px;
}
@media (max-width: 800px) {
  h2 {
    font-size: 1.5em;
  }
}
.title {
  font-size: 24px;
}
@media (max-width: 400px) {
  .break_line {
    display: block;
    margin-bottom: 10px;
  }
}
#main {
  background-color: #ff856e;
  position: relative;
  width: 100%;
  height: 500px;
  color: #fff;
  background-image: url('../images/bg-pattern-intro.svg');
  background-position: center;
  border-bottom-left-radius: 90px;
}
#main nav {
  display: flex;
  width: 100%;
  padding-top: 45px;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 800px) {
  #main nav {
    justify-content: flex-start;
  }
  #main nav #logo_container {
    width: 50%;
  }
}
#main .divider1 {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  #main .divider1 {
    width: 100%;
  }
}
#main .divider1 .logo {
  margin-right: 50px;
}
@media (max-width: 800px) {
  #main .divider1 .logo {
    margin-right: 0;
    margin-left: 30px;
  }
}
#main .divider1 #hamburger_mobile {
  display: none;
}
@media (max-width: 800px) {
  #main .divider1 #hamburger_mobile {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  #main .divider1 #hamburger_mobile .hamburger {
    margin-right: 30px;
  }
}
@media (max-width: 800px) {
  #main .divider1 #dropdown_container {
    display: none;
  }
}
#main .divider2 #authentication {
  display: flex;
  align-items: center;
}
@media (max-width: 800px) {
  #main .divider2 #authentication {
    width: 100%;
  }
}
#main .divider2 #authentication .logo {
  margin-right: 50px;
}
@media (max-width: 800px) {
  #main .divider2 #authentication .logo {
    margin-right: 0;
    margin-left: 30px;
  }
}
#main .divider2 #authentication #hamburger_mobile {
  display: none;
}
@media (max-width: 800px) {
  #main .divider2 #authentication #hamburger_mobile {
    display: flex;
    justify-content: flex-end;
    width: 50%;
  }
  #main .divider2 #authentication #hamburger_mobile .hamburger {
    margin-right: 30px;
  }
}
@media (max-width: 800px) {
  #main .divider2 #authentication #dropdown_container {
    display: none;
  }
}
@media (max-width: 800px) {
  #main .divider2 {
    display: none;
  }
}
#main #description {
  text-align: center;
  margin-top: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 180px;
}
#dropdown_container .dropdown_hover {
  visibility: visible;
  opacity: 1;
  display: block;
  cursor: pointer;
}
#dropdown_container .dropdown_title {
  color: #fff;
}
#dropdown_container ul {
  list-style: none;
}
#dropdown_container ul li {
  display: block;
  float: left;
  position: relative;
  text-decoration: none;
  margin-right: 25px;
}
#dropdown_container ul li ul {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  left: 0;
  display: none;
  background-color: #fff;
  padding: 5px;
  width: 150px;
  border-radius: 15px;
}
#dropdown_container ul li ul li {
  clear: both;
  width: 100%;
  margin-top: 1.1rem;
  margin-bottom: 10px;
  padding-left: 20px;
}
#dropdown_container ul li ul li a {
  color: #24242c;
}
#dropdown_container ul li ul li a:hover {
  font-weight: bold;
}
#dropdown_container ul li:hover > ul,
#dropdown_container ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  cursor: pointer;
}
#mobile-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  margin: auto;
  top: 150px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 90%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  border-radius: 15px;
  height: 550px;
  -webkit-box-shadow: 2px 6px 13px -4px rgba(0, 0, 0, 0.78);
  box-shadow: 2px 6px 13px -4px rgba(0, 0, 0, 0.78);
}
#mobile-menu ul {
  text-align: center;
  margin-top: 25px;
}
#mobile-menu a {
  text-decoration: none;
  color: black;
}
#mobile-menu #mobile_auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  border-top: 1px solid lightgrey;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}
#mobile-menu #mobile_auth .login_mobile {
  color: black;
}
#mobile-menu #mobile_auth .signup_mobile {
  background: #ff866f;
  background: linear-gradient(90deg, #ff866f 0%, #fe4658 100%);
  border: 1px solid #fff;
  color: #fff;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  border-radius: 16px;
  margin-top: 25px;
}
.title-mobile-container {
  min-height: 50px;
}
.dropdown_mobile {
  display: none;
  background-color: #efeff1;
  color: #253e54;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.dropdown_mobile li {
  margin: 15px 0;
  padding: 5px 0;
}
.dropdown_mobile li a {
  color: #4c637a;
}
.hamburger:hover {
  cursor: pointer;
}
.text {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 14px;
}
.text_area {
  width: 500px;
  margin-bottom: 75px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 800px) {
  .text_area {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }
}
#intro {
  width: 100%;
  height: auto;
}
#intro h2 {
  text-align: center;
  margin-top: 100px;
}
#intro .container {
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}
@media (max-width: 800px) {
  #intro .container {
    flex-direction: column-reverse;
  }
}
#intro .container .image_container,
#intro .container .description {
  width: 50%;
}
@media (max-width: 800px) {
  #intro .container .image_container,
  #intro .container .description {
    width: 100%;
  }
}
#intro .container .image_container {
  overflow: hidden;
}
#intro .container .image_container img {
  float: right;
  max-width: 100%;
  position: relative;
  height: auto;
  margin-right: -20%;
}
@media (max-width: 800px) {
  #intro .container .image_container img {
    float: none;
    margin-right: 0;
  }
}
#intro .container .description .area {
  width: 500px;
  margin-bottom: 75px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 800px) {
  #intro .container .description .area {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }
}
#intro .container .description p {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 14px;
  margin-top: 25px;
}
#mid_banner {
  display: flex;
  background-color: #3a3b59;
  height: 350px;
  border-bottom-left-radius: 90px;
  border-top-right-radius: 90px;
  margin-top: 100px;
}
@media (max-width: 800px) {
  #mid_banner {
    flex-direction: column;
    height: auto;
    background-image: url('../images/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -200px;
    background-position-x: center;
    margin-top: 200px;
  }
}
#mid_banner .image_container {
  background-image: url('../images/bg-pattern-circles.svg');
  background-position: bottom;
  width: 50%;
}
@media (max-width: 800px) {
  #mid_banner .image_container {
    width: 100%;
    background-image: none;
    text-align: center;
  }
}
#mid_banner .image_container img {
  margin-top: -80px;
  margin-left: 25px;
}
@media (max-width: 800px) {
  #mid_banner .image_container img {
    margin: 0;
    max-width: 100%;
    margin-top: -150px;
  }
}
#mid_banner .area {
  width: 500px;
  margin-bottom: 75px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
  width: 50%;
}
@media (max-width: 800px) {
  #mid_banner .area {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }
}
@media (max-width: 800px) {
  #mid_banner .area {
    text-align: center;
    width: 100%;
    height: 300px;
  }
}
#mid_banner p {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 14px;
  margin-top: 25px;
  width: 500px;
}
@media (max-width: 800px) {
  #mid_banner p {
    width: 250px;
    margin-left: auto;
    margin-right: auto;
  }
}
#outro {
  display: flex;
  margin-top: 250px;
}
@media (max-width: 800px) {
  #outro {
    flex-direction: column;
  }
}
#outro .image_container,
#outro .description {
  width: 50%;
}
@media (max-width: 800px) {
  #outro .image_container,
  #outro .description {
    width: 100%;
  }
}
@media (max-width: 800px) {
  #outro .image_container {
    text-align: center;
  }
}
#outro .image_container img {
  float: left;
  max-width: 100%;
  position: relative;
  height: auto;
  margin-left: -20%;
}
@media (max-width: 800px) {
  #outro .image_container img {
    float: none;
    margin: 0;
  }
}
#outro .description .area {
  width: 500px;
  margin-bottom: 75px;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 800px) {
  #outro .description .area {
    width: 300px;
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }
}
#outro .description p {
  font-weight: 300;
  line-height: 1.5em;
  font-size: 14px;
  margin-top: 25px;
}
footer {
  background-color: #24242c;
  height: 600px;
  color: #fff;
  display: flex;
  justify-content: space-evenly;
  padding-top: 100px;
}
@media (max-width: 800px) {
  footer {
    justify-content: flex-start;
    flex-direction: column;
    text-align: center;
    height: auto;
  }
}
footer img {
  width: 101px;
  height: 40px;
}
@media (max-width: 800px) {
  footer img {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
  }
}
footer a {
  color: #fff;
}
footer .web_map .item_title {
  margin-bottom: 50px;
}
footer .web_map .item_title a {
  color: #fff;
}
footer .web_map li {
  margin-bottom: 20px;
}
footer .web_map li a {
  color: grey;
}
body {
  background-color: #fafafa;
  font-family: 'Roboto', sans-serif;
}
