/* pinkrange  = #ff856e 
   dark_purple = #3a3b59
   light_grey = #fafafa
   dark_black = #24242c

*/

#main{
    background-color:#ff856e;
    width: 100%;
    height: 500px;
    color: #fff;
    background-image: url('../images/bg-pattern-intro.svg');
    background-position: center;
    border-bottom-left-radius: 90px;
    
}

nav{
    display:flex;
    width: 100%;    
    padding-top:45px;
    align-items: center;
    justify-content: space-around;
}
.divider1, #authentication{
    display:flex;
    align-items: center;

}

#log_in{
   margin-right: 25px;
}

.logo{
    margin-right:50px;
}


.button{
    background-color: #fff;
    border: none;
    color: #ff856e;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
  }

.button_border{
    background-color: #ff856e;
    border: 1px solid #fff;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;

}

body {
    background-color: #fafafa;
    font-family: 'Roboto', sans-serif;
}

#mid_banner{
    background-color: #3a3b59;

}

footer{
    background-color: #24242c;
}

h1{
    font-size:45px;
   
}

#description{
    text-align: center;
    margin-top: 75px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:180px;
}

