//Colors

@pinkrange: #ff856e;
@dark_purple: #3a3b59;
@light_grey:  #fafafa;
@dark_black: #24242c;
@white: #fff;

//Fonts
@default:'Roboto', sans-serif;
h1{
    font-size:45px;
   
}



body {
    background-color: @light_grey;
    font-family:  @default;
}


#main{
    background-color: @pinkrange;
    width: 100%;
    height: 500px;
    color: @white;
    background-image: url('../images/bg-pattern-intro.svg');
    background-position: center;
    border-bottom-left-radius: 90px;


    nav{
        display:flex;
        width: 100%;    
        padding-top:45px;
        align-items: center;
        justify-content: space-around;
    }

    .divider1 {
        display:flex;
        align-items: center;

        .logo{
            margin-right:50px;
        }
        
    }
    
    .divider2 {
        #authentication{
            .divider1();
        }
    }
}

//Dropdown Menu
#dropdown_container{



    .dropdown_hover{
        visibility: visible;
        opacity: 1;
        display: block;
        cursor: pointer;



    }


    a{
        text-decoration: none;
        color: @white;
    }
  

    ul{
        list-style: none;
        li {

            display: block;
            float: left;
            position:relative;
            text-decoration: none;
            margin-right:25px;

            ul{
                visibility: hidden;
                opacity: 0;
                position: absolute;
                left:0;
                display: none;
                background-color: @pinkrange;
                padding: 5px;

                li {
                    clear: both;
                    width: 100%;
                    margin-top: 1rem;
                   
                }  
            }
           
        }
      
    }

    ul li:hover > ul,
    ul li ul:hover {
      .dropdown_hover()
    }
}

// Button Styles

.hover_state{
    background-color: @white;
    border: none;
    color: @pinkrange;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;

}
.button:hover{
    .hover_state()

  }

.button{
    background-color: @pinkrange;
    border: 1px solid @white;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;

}

.auth_button{
   .button();
    border: none;
    background-color: inherit;


}

.auth_button:hover{
    .hover_state()
}

#log_in{
   margin-right: 25px;
}



#mid_banner{
    background-color: @dark_purple;

}

footer{
    background-color: @dark_black;
}



#description{
    text-align: center;
    margin-top: 75px;  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height:180px;
}

